@model IEnumerable<ProductApp.Models.Product>

@{
    ViewBag.Title = "Products";
}
<h1>Products</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProizvodId)
        </th>
        <th>

        </th>
