<div>
    <input type="submit" onclick="location.href='@Url.Action("Index", "Product")'" class="btn btn-primary" value="View/Edit products from the database." />
</div>
<br />
<br />
<br />
<div>
    <input type="submit" onclick="location.href='@Url.Action("Index", "Json")'" class="btn btn-primary" value="View produtcs from the JSON file." />
</div>
<br />
<br />
<br />
<div>
    <input type="submit" onclick="location.href='@Url.Action("Create", "Create")'" class="btn btn-primary" value="Create new product." />
</div>

