@model IEnumerable<ProductApp.Models.Product>

@{
    ViewBag.Title = "Products";
}

<div class="home-button">
    <a asp-page="/Views/Product/Index">
        <div>
            Lista produkata iz baze
        </div>
    </a>
</div>